@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text>
            Hello {{ user.email }}
         </mj-text>
         <mj-text>
            Token : {{ token }}
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end